:root {
    --color-primary: #2e2f42;
    --color-brand: #4de58a;
    --color-secondary: #434455;
    --color-light: #f4f4fd;
    --color-active: #40bfbd;
    --color-hero: #fff;
    --color-green: #d09631;
  }